# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma Azure SQL:
DATABASE_URL="YOUR_AZURE_SQL_DATABASE_URL"
SHADOW_DATABASE_URL="YOUR_AZURE_SQL_SHADOW_DATABASE_URL"

# NextAuth
NEXTAUTH_SECRET= "YOUR_NEXTAUTH_SECRET"
NEXTAUTH_JWT_SECRET= "YOUR_NEXTAUTH__JWT_SECRET"
NEXTAUTH_URL= "YOUR_NEXTAUTH_URL"

# X-RapidAPI-Host and X-RapidAPI-Key
X_RAPIDAPI_HOST= "YOUR_X_RAPIDAPI_HOST"
X_RAPIDAPI_KEY= "YOUR_X_RAPIDAPI_KEY"

# SMTP Email Configuration
SMTP_HOST= "YOUR_EMAIL_HOST"
SMTP_PORT= "YOUR_SMTP_PORT"
SMTP_USER= "YOUR_USERNAME"
SMTP_PASSWORD= "YOUR_PASSWORD"
SMTP_FROM_EMAIL= "YOUR_EMAIL"
